html, body {
    height: 100%;
    min-height: 100%;
  }

img{
 
 width: 50%;
 height: 70%;
}
body{
    background: url(./background.jpg) center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 100%;
}
.wrapper{
margin: 0 auto;
width: 60%;
padding-bottom: 40px;
}

h1, h2 {
    font-family: 'Gabriela', serif;
    color: whitesmoke;
  }
h1{
    font-size: 3.5em;
    margin-bottom: 0;
}
h2{
    font-size: 1.5em;
  margin-top: .5em;
}
#content{
    padding: 20px;
  background: hsla(157, 61%, 44%, 0.952);
}

p{
    color: black;
}
#img{
    width: 50%;
    background-position: left;
}
button{
    width: 100px;
    height: 50%;
    color: azure;
    background-color:#00A3C4 ;
    font-display: Hedvig Letters Serif;
}